<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <requestFiltering allowDoubleEscaping="false">
          <requestLimits maxAllowedContentLength="30000000" maxUrl="40960" maxQueryString="20480" />
        </requestFiltering>
      </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\GMail.exe" hostingModel="inprocess" requestTimeout="00:20:00" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\sdk\7.0.404\DotnetTools\dotnet-watch\7.0.404-servicing.23523.39\tools\net7.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;D:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44329/GMail/,ws://localhost:53496/GMail/" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt++HN8CbLTMDRfdf0WbayIHsuEz+ODmG+aKWD/AdBcXM7fI6veVgc5Uh/XjateFxUbUUiZ8VBHHlDrBGLEDZWomQbSjpQG2BubNlJNCXBO2lAvbP6Kjrf+Twav526wN+2R1nwgyf7WfiEgSl8DTSe3jRhirgjmRXNsXSVAtOsyPD9/U6ywT30Ps5bz1w6faI0k/pzk5ujDgwAdnftLYkoztm20w7AglGGCz6lhi/bz5cuC2gBsWpopUOFdYx8eepS7EuyrwRMZZgrJvxIPP4kINNp1OQs8ni9KA1aVrUmU80J7Lxrn2lEWtgvTmFFlCYumlOvqWFZ6gkp2oCgI0qdQIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: c55d8060-bacc-48a1-912f-095f803c91b6-->
<!--ProjectGuid: 63cb8d7f-fb92-493b-8d0a-ae5ae83d69d6-->